802_tei_odd/shawi_corpus.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0" 
    xmlns:tei="http://www.tei-c.org/ns/1.0" 
    xmlns:s="http://purl.oclc.org/dsdl/schematron">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Shawi corpus document ODD</title>
                <author>Mau Zsofia Abraham</author>
            </titleStmt>
            <publicationStmt>
                <publisher>Austrian Centre for Digital Humanities</publisher>
                <pubPlace>Vienna</pubPlace>
                <date>2021</date>
                <availability status="restricted">
                    <p><ref type="license" target="http://creativecommons.org/licenses/by-nc-sa/3.0/"/></p>
                </availability>
                <idno type="SHAWICorpusID">shawi.corpus.odd</idno>
            </publicationStmt>
            <sourceDesc>
                <p>This is an original digital text</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec ident="shawi_corpus"
                source="https://raw.githubusercontent.com/acdh-oeaw/vicav-content/master/tools/802_tei_odd/vicav_corpus.expanded.odd" start="TEI teiCorpus">
                <!-- We copy all modules from VICAV corpus  -->
                <moduleRef key="header" include="availability catRef change distributor encodingDesc fileDesc funder idno licence listPrefixDef prefixDef profileDesc publicationStmt rendition revisionDesc sourceDesc tagsDecl teiHeader textClass titleStmt"/>
                <moduleRef key="core" include="address addrLine author bibl biblStruct cit corr date desc editor gap graphic head hi imprint media milestone monogr name note p publisher pubPlace quote ref respStmt resp rs series title"/>
                <moduleRef key="tei"/>
                <moduleRef key="tagdocs" include="att code gi"/>
                <moduleRef key="namesdates" include="forename listPerson orgName person persName place placeName surname"></moduleRef>
                <moduleRef key="textstructure" include="body div TEI text"/>
                <moduleRef key="corpus"/>
                <moduleRef key="analysis" include="pc span spanGrp w"/>
                <moduleRef key="linking" include="anchor seg timeline when"/>
                <moduleRef key="spoken" include="pause recording recordingStmt shift u vocal"></moduleRef>
                
                <!-- SHAWI specific rules -->
                <elementSpec ident="fileDesc" module="header" mode="change">
                    <constraintSpec ident="rec-person-twice" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:respStmt">
                                <s:assert test="count(//tei:resp[text() = 'recording']) = 2">The role 'recording' should appear exactly twice across all respStmt elements</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
                <!-- The file Shawi_Recordings.xml is not on github, therefore these rules are useless for the Github Action. Check manually, but not needed regularly-->
                <!--
                <elementSpec ident="respStmt" module="core" mode="change">
                    <constraintSpec ident="name-check" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:resp[text()='recording']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="preceding-sibling::tei:persName = $recFileData/tei:cell[6]">
                                    The person for the role 'recording' should be: <s:value-of select="$recFileData/tei:cell[6]"/>
                                </s:assert>
                            </s:rule>
                            <s:rule context="tei:resp[text()='transcription']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="preceding-sibling::tei:persName = $recFileData/tei:cell[8]">
                                    The person for the role 'transcription' should be: <s:value-of select="$recFileData/tei:cell[8]"/>
                                </s:assert>
                            </s:rule>
                            <s:rule context="tei:resp[text()='transcription check']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="(preceding-sibling::tei:persName = $recFileData/tei:cell[9]) or (preceding-sibling::tei:persName = $recFileData/tei:cell[10])">
                                    The person for the role 'transcription check' should be: <s:value-of select="$recFileData/tei:cell[9]"/> or <s:value-of select="$recFileData/tei:cell[10]"/>
                                </s:assert>
                            </s:rule>
                            <s:rule context="tei:resp[text()='translation']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="preceding-sibling::tei:persName = $recFileData/tei:cell[11]">
                                    The person for the role 'translation' should be: <s:value-of select="$recFileData/tei:cell[11]"/>
                                </s:assert>
                            </s:rule>
                            <s:rule context="tei:resp[text()='translation check']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="preceding-sibling::tei:persName = $recFileData/tei:cell[12]">
                                    The person for the role 'translation check' should be: <s:value-of select="$recFileData/tei:cell[12]"/>
                                </s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
                -->

                <elementSpec ident="publicationStmt" module="header" mode="change">
                    <constraintSpec ident="publStmtIdnoType" scheme="schematron">
                        <desc>Restricts idno type within publicationStmt</desc>
                        <constraint>
                            <s:rule context="tei:publicationStmt/tei:idno">
                                <s:assert test="@type='SHAWICorpusID'">Only the type "SHAWICorpusID" is permitted for idno inside publicationStmt</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
                             

                <elementSpec ident="w" module="analysis" mode="change">
                    <constraintSpec ident="msd-spec" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:w[@msd]">
                                <s:let name="fLibFile" value="'../../010_manannot/fLib.xml'"/>
                                <s:let name="msd_values" value="doc($fLibFile)//tei:fvLib[@n='Morpho-syntactic annotations']/tei:fs/@xml:id"/>
                                <s:assert test="@msd = $msd_values">MSD: '<s:value-of select="@msd"/>' is not in list of msd values (<s:value-of select="$msd_values"/>)</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                    <!-- TODO: come up with a way to generalize this, so the lang doesn't have to be hardcoded -->
                    <constraintSpec ident="lemmaRef-spec" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:w[@xml:lang='ar-acm-x-shawi-vicav']">
                                <s:assert test="@lemmaRef or (@type='truncated')">@lemmaRef is required when xml:lang is 'ar-acm-x-shawi-vicav' and type is not truncated</s:assert>
                                <s:let name="dict" value="'../../vicav_dicts/dc_shawi_eng.xml'"/>
                                <s:let name="entryIDs" value="doc($dict)//tei:entry/@xml:id"/>
                                <s:assert test="not(@lemmaRef) or substring-after(@lemmaRef, 'dict:') = $entryIDs">There is no entry in the dictionary for the current w element: '<s:value-of select="@lemmaRef"/>'</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                    <attList>
                        <attDef ident="xml:id" mode="change" usage="req"/>                        
                        <attDef ident="xml:lang" mode="replace" usage="req">
                            <valList type="closed">
                                <valItem ident="ar-acm-x-shawi-vicav">
                                    <desc>Shawi type Arabic</desc>
                                </valItem>
                                <valItem ident="tr-x-shawi-vicav">
                                    <desc>Turkish</desc>
                                </valItem>
                                <valItem ident="ku-x-shawi-vicav">
                                    <desc>Kurdish</desc>
                                </valItem>
                                <valItem ident="en">
                                    <desc>English</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                
            </schemaSpec>
        </body>
    </text>
</TEI>