802_tei_odd/shawi_corpus.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0" 
    xmlns:tei="http://www.tei-c.org/ns/1.0" 
    xmlns:s="http://purl.oclc.org/dsdl/schematron">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Shawi corpus document ODD</title>
                <author>Mau Zsofia Abraham</author>
            </titleStmt>
            <publicationStmt>
                <publisher>ACDH-OeAW</publisher>
                <pubPlace>Vienna</pubPlace>
                <date>2021</date>
                <availability status="restricted">
                    <p><ref type="license" target="http://creativecommons.org/licenses/by-nc-sa/3.0/"/></p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>This is an original digital text</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec ident="vicav_corpus" start="TEI">
                <moduleRef key="header" include="textClass catRef availability availability change distributor encodingDesc fileDesc funder idno licence listPrefixDef prefixDef profileDesc publicationStmt rendition revisionDesc sourceDesc tagsDecl teiHeader titleStmt"/>
                <moduleRef key="core" include="address addrLine author bibl cit date editor desc graphic head hi quote name note p publisher pubPlace ref respStmt resp rs series title media"/>
                <moduleRef key="tei"/>
                <moduleRef key="tagdocs" include="code att gi"/>
                <moduleRef key="namesdates" include="person orgName persName forename surname listPerson place placeName"></moduleRef>
                <moduleRef key="textstructure" include="body div TEI text"/>
                <moduleRef key="corpus"/>
                <moduleRef key="analysis" include="w pc phr span spanGrp"/>
                <moduleRef key="linking" include="timeline when anchor"/>
                <moduleRef key="spoken" include="annotationBlock u recordingStmt recording"></moduleRef>

                <elementSpec ident="w" module="analysis" mode="change">
                    <constraintSpec ident="msd-spec" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:w">
                                <s:let name="fLibFile" value="'../../010_manannot/fLib_shawi.xml'"/>
                                <s:let name="msd_values" value="doc($fLibFile)//tei:fvLib[@n='Morpho-syntactic annotations']/tei:fs/@xml:id"/>
                                <s:let name="normalized_msd_values" value="for $item in $msd_values return replace($item, '\.$', '')"/>
                                <s:let name="normalized_attr_msd" value="replace(@msd, '\.$', '')"/>
                                <s:assert test="$normalized_attr_msd = $normalized_msd_values">MSD: <s:value-of select="$normalized_attr_msd"/> is not in list <s:value-of select="$normalized_msd_values"/></s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                    
                    <constraintSpec ident="pos-spec" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:w">
                                <s:let name="fLibFile" value="'../../010_manannot/fLib_shawi.xml'"/>
                                <s:let name="pos_values" value="doc($fLibFile)//tei:fLib[@n='Part of Speech']/tei:f/@xml:id"/>
                                <s:assert test="@pos = $pos_values">POS: <s:value-of select="@pos"/> is not in list <s:value-of select="$pos_values"/></s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>

                <elementSpec ident="revisionDesc" module="header" mode="change">
                    <attList>
                        <attDef ident="status" mode="replace" usage="req">
                            <valList type="closed">
                                <valItem ident="generated">
                                    <desc>status automatically generated by elan2tei conversion workflow</desc>
                                </valItem>
                                <valItem ident="draft">
                                    <desc>after changes have been made manually in the 010_manannot folder</desc>
                                </valItem>
                                <valItem ident="done">
                                   <desc>from here on validation with odd makes sense</desc>
                                </valItem>
                                <valItem ident="checked">
                                  <desc>TODO description missing</desc>
                                </valItem>
                                <valItem ident="published">
                                    <desc>when checked and validated</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>

            </schemaSpec>
        </body>
    </text>
</TEI>