802_tei_odd/shawi_corpus.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0" 
    xmlns:tei="http://www.tei-c.org/ns/1.0" 
    xmlns:s="http://purl.oclc.org/dsdl/schematron">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Shawi corpus document ODD</title>
                <author>Mau Zsofia Abraham</author>
            </titleStmt>
            <publicationStmt>
                <publisher>ACDH-OeAW</publisher>
                <pubPlace>Vienna</pubPlace>
                <date>2021</date>
                <availability status="restricted">
                    <p><ref type="license" target="http://creativecommons.org/licenses/by-nc-sa/3.0/"/></p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>This is an original digital text</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec ident="vicav_corpus" start="TEI">
                <moduleRef key="header" include="textClass catRef availability availability change distributor encodingDesc fileDesc funder idno licence listPrefixDef prefixDef profileDesc publicationStmt rendition revisionDesc sourceDesc tagsDecl teiHeader titleStmt"/>
                <moduleRef key="core" include="address addrLine author bibl biblStruct cit date editor desc graphic head hi quote name note p publisher pubPlace ref respStmt resp rs series title media"/>
                <moduleRef key="tei"/>
                <moduleRef key="tagdocs" include="code att gi"/>
                <moduleRef key="namesdates" include="person orgName persName forename surname listPerson place placeName"></moduleRef>
                <moduleRef key="textstructure" include="body div TEI text"/>
                <moduleRef key="corpus"/>
                <moduleRef key="analysis" include="w pc phr span spanGrp"/>
                <moduleRef key="linking" include="timeline when anchor"/>
                <moduleRef key="spoken" include="annotationBlock u recordingStmt recording"></moduleRef>

                <classSpec type="atts" ident="att.linguistic" mode="change">
                    <attList>
                        <attDef ident="lemma" mode="delete"/>
                    </attList>
                </classSpec>

                <elementSpec ident="resp" module="core" mode="replace">
                    <content>
                        <valList type="closed">
                            <valItem ident="recording"><desc>Recorded by</desc></valItem>
                            <valItem ident="transcrition"><desc>Transcribed by</desc></valItem>
                            <valItem ident="transcription check"><desc>Transcription checked by</desc></valItem>
                            <valItem ident="translation"><desc>Translated by</desc></valItem>
                            <valItem ident="translation check"><desc>Translation checked by</desc></valItem>
                        </valList>
                    </content>
                    <constraintSpec ident="uniqueRespValues" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:respStmt">
                                <s:assert test="not(tei:resp[. != 'recording' and . != 'transcription check' and . = preceding::tei:resp])">Each value inside 'respStmt' must be unique, except for 'recording' and 'transcription check'</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>

                <elementSpec ident="fileDesc" module="header" mode="change">
                    <constraintSpec ident="rec-person-twice" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:respStmt">
                                <s:assert test="count(//tei:resp[text() = 'recording']) = 2">The role 'recording' should appear exactly twice across all respStmt elements</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>

                <elementSpec ident="respStmt" module="core" mode="change">
                    <constraintSpec ident="name-check" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:resp[text()='recording']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="preceding-sibling::tei:persName = $recFileData/tei:cell[6]">
                                    The person for the role 'recording' should be: <s:value-of select="$recFileData/tei:cell[6]"/>
                                </s:assert>
                            </s:rule>
                            <s:rule context="tei:resp[text()='transcription']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="preceding-sibling::tei:persName = $recFileData/tei:cell[8]">
                                    The person for the role 'transcription' should be: <s:value-of select="$recFileData/tei:cell[8]"/>
                                </s:assert>
                            </s:rule>
                            <s:rule context="tei:resp[text()='transcription check']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="(preceding-sibling::tei:persName = $recFileData/tei:cell[9]) or (preceding-sibling::tei:persName = $recFileData/tei:cell[10])">
                                    The person for the role 'transcription check' should be: <s:value-of select="$recFileData/tei:cell[9]"/> or <s:value-of select="$recFileData/tei:cell[10]"/>
                                </s:assert>
                            </s:rule>
                            <s:rule context="tei:resp[text()='translation']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="preceding-sibling::tei:persName = $recFileData/tei:cell[11]">
                                    The person for the role 'translation' should be: <s:value-of select="$recFileData/tei:cell[11]"/>
                                </s:assert>
                            </s:rule>
                            <s:rule context="tei:resp[text()='translation check']">
                                <s:let name="currentID" value="//tei:publicationStmt/tei:idno[@type='SHAWICorpusID']/text()"/>
                                <s:let name="recFile" value="'../../080_scripts_generic/080_01_ELAN2TEI/data/Shawi_Recordings.xml'"/>
                                <s:let name="recFileData" value="doc($recFile)//tei:table[tei:head[text()='Recordings']]/tei:row[@n &gt; 1][tei:cell[1][text() = $currentID]]"/>
                                <s:assert test="preceding-sibling::tei:persName = $recFileData/tei:cell[12]">
                                    The person for the role 'translation check' should be: <s:value-of select="$recFileData/tei:cell[12]"/>
                                </s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
                
                <elementSpec ident="funder" module="header" mode="change">
                    <content>
                        <sequence>
                            <textNode/>
                            <elementRef key="orgName" minOccurs="1" maxOccurs="1"/>
                            <textNode/>
                            <elementRef key="idno" minOccurs="1" maxOccurs="1"/>
                        </sequence>
                    </content>
                    <constraintSpec ident="funderIdnoType" scheme="schematron">
                        <desc>Restricts idno type within funder</desc>
                        <constraint>
                            <s:rule context="tei:funder/tei:idno">
                                <s:assert test="@type='projectNumber'">Only the type "projectNumber" is permitted for idno inside funder</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>

                <elementSpec ident="publicationStmt" module="header" mode="change">
                    <content>
                        <sequence>
                            <elementRef key="publisher" minOccurs="1" maxOccurs="unbounded"/>
                            <elementRef key="distributor" minOccurs="0" maxOccurs="unbounded"/>
                            <elementRef key="date" minOccurs="1" maxOccurs="1"/>
                            <elementRef key="address" minOccurs="0" maxOccurs="1"/>
                            <elementRef key="availability" minOccurs="1" maxOccurs="1"/>
                            <elementRef key="idno" minOccurs="1" maxOccurs="1"/>
                        </sequence>
                    </content>
                    <constraintSpec ident="publStmtIdnoType" scheme="schematron">
                        <desc>Restricts idno type within publicationStmt</desc>
                        <constraint>
                            <s:rule context="tei:publicationStmt/tei:idno">
                                <s:assert test="@type='SHAWICorpusID'">Only the type "SHAWICorpusID" is permitted for idno inside publicationStmt</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
                
                <elementSpec ident="availability" module="header" mode="change">
                    <content>
                        <elementRef key="licence" minOccurs="1" maxOccurs="1"/>
                    </content>
                </elementSpec>
                
                <elementSpec ident="sourceDesc" module="header" mode="change">
                    <content>
                        <sequence>
                            <elementRef key="recordingStmt" minOccurs="1" maxOccurs="1"/>
                            <!-- have at least one source: the dictionary -->
                            <elementRef key="biblStruct" minOccurs="1" maxOccurs="unbounded"/>
                        </sequence>
                    </content>
                </elementSpec>
                
                <elementSpec ident="profileDesc" module="header" mode="change">
                    <content>
                        <sequence>
                            <elementRef key="particDesc" minOccurs="1" maxOccurs="1"/>
                            <elementRef key="settingDesc" minOccurs="1" maxOccurs="1"/>
                            <elementRef key="textClass" minOccurs="1" maxOccurs="1"/>
                        </sequence>
                    </content>
                </elementSpec>
                
                <elementSpec ident="particDesc" module="corpus" mode="change">
                    <content>
                        <elementRef key="listPerson" minOccurs="1" maxOccurs="1"/>
                    </content>
                </elementSpec>
                
                <elementSpec ident="settingDesc" module="corpus" mode="change">
                    <content>
                        <elementRef key="place" minOccurs="1" maxOccurs="1"/>
                    </content>
                </elementSpec>
                
                <elementSpec ident="textClass" module="header" mode="change">
                    <content>
                        <elementRef key="catRef" minOccurs="1" maxOccurs="unbounded"/>
                    </content>
                </elementSpec>
                
                <elementSpec ident="revisionDesc" module="header" mode="change">
                    <attList>
                        <attDef ident="status" mode="replace" usage="req">
                            <valList type="closed">
                                <valItem ident="generated">
                                    <desc>status automatically generated by elan2tei conversion workflow</desc>
                                </valItem>
                                <valItem ident="draft">
                                    <desc>after changes have been made manually in the 010_manannot folder</desc>
                                </valItem>
                                <valItem ident="done">
                                    <desc>from here on validation with odd makes sense</desc>
                                </valItem>
                                <valItem ident="checked">
                                    <desc>TODO description missing</desc>
                                </valItem>
                                <valItem ident="published">
                                    <desc>when checked and validated</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>

                <elementSpec ident="text" module="textstructure" mode="change">
                    <content>
                        <sequence>
                            <elementRef key="timeline" minOccurs="1" maxOccurs="1"/>
                            <elementRef key="body" minOccurs="1" maxOccurs="1"/>
                        </sequence>
                    </content>
                </elementSpec>

                <elementSpec ident="body" module="textstructure" mode="change">
                    <content>
                        <elementRef key="div" minOccurs="1" maxOccurs="1"/>
                    </content>
                </elementSpec>

                <elementSpec ident="div" module="textstructure" mode="change">
                    <content>
                        <sequence>
                            <elementRef key="head" minOccurs="1" maxOccurs="1"/>
                            <elementRef key="annotationBlock" minOccurs="1" maxOccurs="unbounded"/>
                        </sequence>
                    </content>
                </elementSpec>
                
                <elementSpec ident="annotationBlock" module="spoken" mode="change">
                    <content>
                        <sequence>
                            <elementRef key="u" minOccurs="1" maxOccurs="unbounded"/>
                            <elementRef key="spanGrp" minOccurs="1" maxOccurs="unbounded"/>
                        </sequence>
                    </content>
                </elementSpec>

                <elementSpec ident="spanGrp" module="analysis" mode="change">
                    <content>
                        <elementRef key="span" minOccurs="1" maxOccurs="1"/>
                    </content>
                    <attList>
                        <attDef ident="type" mode="replace" usage="req">
                            <valList type="closed">
                                <valItem ident="Translation">
                                    <desc>spanGrp is of type Translation</desc>
                                </valItem>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                
                <elementSpec ident="span" module="analysis" mode="change">
                    <constraintSpec ident="span-target-check" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:span">
                                <s:assert test="parent::tei:spanGrp/preceding-sibling::tei:u/@xml:id = substring-after(@target, '#')">target of span should point at xml:id of preceding u element</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                    <attList>
                        <attDef ident="target" mode="replace" usage="req">
                            <datatype>
                                <dataRef key="teidata.pointer"/>
                            </datatype>
                        </attDef>
                    </attList>
                </elementSpec>

                <elementSpec ident="u" module="spoken" mode="change">
                    <constraintSpec ident="u-who-check" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:u">
                                <s:assert test="starts-with(@who, 'corpus:')">The 'who' attribute of u has to start with 'corpus:'</s:assert>
                                <s:assert test="//tei:person/@sameAs = @who">The who attribute of u must point to a person defined in the header</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                    <attList>
                        <attDef ident="xml:id" mode="change" usage="req"/>
                        <attDef ident="who" mode="change" usage="req"/>
                    </attList>
                </elementSpec>
                
                <elementSpec ident="phr" module="analysis" mode="change">
                    <classes mode="change">
                        <memberOf key="att.linguistic"/>
                    </classes>
                    <attList>
                        <attDef ident="xml:id" mode="change" usage="req"/>
                    </attList>
                </elementSpec>
                
                <elementSpec ident="w" module="analysis" mode="change">
                    <constraintSpec ident="msd-spec" scheme="schematron">
                        <constraint>
                            <s:rule context="tei:w[@msd]">
                                <s:let name="fLibFile" value="'../../010_manannot/fLib.xml'"/>
                                <s:let name="msd_values" value="doc($fLibFile)//tei:fvLib[@n='Morpho-syntactic annotations']/tei:fs/@xml:id"/>
                                <s:assert test="@msd = $msd_values">MSD: '<s:value-of select="@msd"/>' is not in list of msd values (<s:value-of select="$msd_values"/>)</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                    <attList>
                        <attDef ident="xml:id" mode="change" usage="req"/>
                        <attDef ident="rend" mode="change" usage="opt">
                            <valList type="closed">
                                <valItem ident="withDash"/>
                            </valList>
                        </attDef>
                    </attList>
                </elementSpec>
                
                <elementSpec ident="pc" module="analysis" mode="change">
                    <attList>
                        <attDef ident="xml:id" mode="change" usage="req"/>
                    </attList>
                </elementSpec>
                
            </schemaSpec>
        </body>
    </text>
</TEI>