802_tei_odd/shawi.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:s="http://purl.oclc.org/dsdl/schematron">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Shawi Dictionary Schema</title>
            <author>Charly Mörth</author>
            <author>Daniel Schopper</author>
         </titleStmt>
         <publicationStmt>
            <publisher>Austrian Centre for Digital Humanities and Cultural Heritage</publisher>
            <date>2024</date>
         </publicationStmt>
         <sourceDesc>
            <p>This ODD is a customization of TEI Lex-0, adapted for the needs of the SHAWI-Project of the ACDH-CH.</p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <change status="draft" when="2024-03-01">set up ODD</change>
      </revisionDesc>
   </teiHeader>
   <text>
      <front>
         <argument>
            <p>This TEI customization fits the needs of the SHAWI-Project while conforming with the baseline schema of all dictionaries created at the ACDH-CH.</p>
         </argument>
      </front>
      <body>
         <head>Part 1: Encoder Documentation</head>
         <div>
            <head>Basic Dictionary Structure</head>
            <p>The dictionaries covered by this schema are encoded according to the Guidelines of the Text Encoding Initiative (P5). They are conceptualised as a specific type of text and are therefore encoded with <gi>text</gi> elements. Each dictionary starts with a <gi>teiHeader</gi> element which contains the metadata of the dictionary.</p>

            <p>The lexicographic data are placed in typed <gi>div</gi> elements. Thus, our TEI
               dictionaries basically look like this:</p>
            <egXML xmlns="http://www.tei-c.org/ns/Examples" valid="feasible">
               <TEI version="5.0">
                  <teiHeader> ... </teiHeader>
                  <text>
                     <body>
                        <div type="entries">
                           <entry>...</entry>
                           <entry>...</entry>
                           <entry>...</entry>
                        </div>
                     </body>
                  </text>
               </TEI>
            </egXML>

            <p>The <gi>body</gi> of a dictionary which conforms to this specification may not only contain a flat series of entries but also examples (which are encoded as <gi>cit</gi>/<gi>quote</gi> constructs). The rationale behind keeping example sentences outside the entries is to be able to reuse them in different parts of the dictionary (See below: <ref target="#examples">Examples and Creating examples</ref>).</p>
         </div>
         <div>
            <head>Part 2: Formal Specification</head>

            <schemaSpec ident="shawi" source="file:/C:/Users/mrauschsupola/generic-dict-schema/generic-dict-schema/schema/acdh-ch-dicts.compiled.odd">
               <!-- We copy all modules from TEI Lex0  -->
               <moduleRef key="analysis"/>
               <moduleRef key="core" except="ptr q interpretation lb mentioned measure"/>
               <moduleRef key="dictionaries"/>
               <moduleRef key="figures"/>
               <moduleRef key="gaiji"/>
               <moduleRef key="header" except="change listChange"/>
               <moduleRef key="linking"/>
               <moduleRef key="namesdates"/>
               <moduleRef key="tei"/>
               <moduleRef key="textstructure"/>
               <moduleRef key="transcr"/>

               <moduleRef key="iso-fs"/>
               
               <elementSpec ident="val" mode="delete"/>
               <classSpec type="atts" ident="att.measurement" mode="delete"/>

               <elementSpec ident="gram" mode="change" module="dictionaries">
                  <constraintSpec ident="gram" scheme="schematron">
                     <constraint>
                        <s:rule context="tei:gram[@type = 'morphPattern']">
                           <s:assert test="parent::tei:gramGrp/parent::tei:form[@type]">a gram type morphPattern must be a direct child of a gramGrp and a direct grandchild of a form with a type attribute</s:assert>
                        </s:rule>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <!-- TODO 2021-12-03 
                     Vocabularies should be moved to specific implementations. 
                     Also this one? 
                     -->
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="arguments">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="aspect">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="constraint">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="degree">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="diaRoot">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="diaRootNew">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="frequency"> <!-- additionally to constraint -->
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="gender">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="government"> <!-- not rection -->
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="inflectionType">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="morphPattern">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="nominalState">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="number">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="person">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="pos">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="root">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="subc">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="synRoot">
                              <desc>TODO description missing</desc>
                           </valItem>
                           <valItem ident="usg">
                              <desc>hint on usage</desc>
                           </valItem>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>


               <elementSpec ident="cit" mode="change" module="core">
                  <content>
                     <alternate minOccurs="1" maxOccurs="unbounded">
                        <!-- both examples or translations have their textual content enclosed in quote elements -->
                        <elementRef key="quote" minOccurs="1" maxOccurs="1"/>
                        <!-- example entries may have 1–n nested translations -->
                        <elementRef key="cit" minOccurs="0" maxOccurs="unbounded"/>
                        <!-- change history of example entries  -->
                        <elementRef key="fs"/>
                        <!-- only  -->
                        <elementRef key="bibl"/>
                        <elementRef key="note"/>
                        <elementRef key="usg"/>
                        <elementRef key="form"/>
                     </alternate>
                  </content>
                  <constraintSpec ident="cit-context" scheme="schematron" mode="replace">
                     <desc>assert correct context of cit types</desc>
                     <constraint>
                        <s:rule context="tei:cit[@type = 'translationEquivalent']">
                           <s:assert test="parent::tei:sense">translationEquivalent: must be a direct child of a sense element</s:assert>
                           <s:assert test="child::tei:bibl|child::tei:form[not(@type)]">translationEquivalent: a bibliographic reference or a form without a type attribute must be direct children of cit type translationEquivalent.</s:assert>
                        </s:rule>
                        <s:rule context="tei:cit[@type = 'translation']">
                           <s:report test="* except (tei:quote|tei:cit|tei:bibl|tei:form)">a translation may only contain the translated text in a quote element</s:report>
                        </s:rule>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="example">
                              <desc>A dictionary example. Ideally, examples should consist in complete sentences. Examples should be concise, but can also contain several sentences. If dialogical models are involved, sentences are to be separated by a dash.</desc>
                           </valItem>
                           <valItem ident="translation">
                              <desc>A translation.</desc>
                           </valItem>
                           <valItem ident="translationEquivalent">
                              <desc>A translation equivalent.</desc>
                           </valItem>
                           <valItem ident="etymon">
                              <desc>An etymon.</desc>
                           </valItem>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="form" mode="change" module="dictionaries">
                  <constraintSpec ident="form-type" scheme="schematron">
                     <desc>assert content of correct context of @type values</desc>
                     <constraint>
                        <s:rule context="tei:form[@type = 'variant']">
                           <s:assert test="parent::tei:form[@type = ('lemma', 'multiWordUnit', 'inflected')]">a variant must be a direct child of the main form (type = "lemma" or "multiWordUnit").</s:assert>
                        </s:rule>
                        <s:rule context="tei:form[@type = ('lemma', 'multiWordUnit', 'inflected')]">
                           <s:assert test="parent::tei:entry">a headword must be a direct child of an entry element. </s:assert>
                        </s:rule>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="type" mode="replace" usage="opt">
                        <valList type="closed">
                           <valItem ident="lemma">
                              <desc>the headword of a lemma entry</desc>
                           </valItem>
                           <valItem ident="multiWordUnit">
                              <desc>the headword of a MWU entry</desc>
                           </valItem>
                           <valItem ident="inflected">
                              <desc>inflected form</desc>
                           </valItem>
                           <valItem ident="variant">
                              <desc>A variant form of the lemma. Only headwords may have variants. All other variants – e.g. competing morphological forms – are simply listed but not classified. Variants can be assigned usage labels indicating e.g. a particular register. The more frequent variant should precede less frequent ones. </desc>
                           </valItem>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
            </schemaSpec>
         </div>
      </body>
   </text>
</TEI>
