802_tei_odd/vicav_corpus.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
    xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0" 
    xmlns:tei="http://www.tei-c.org/ns/1.0" 
    xmlns:s="http://purl.oclc.org/dsdl/schematron">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>Shawi corpus document ODD</title>
                <author>Mau Zsofia Abraham</author>
            </titleStmt>
            <publicationStmt>
                <publisher>ACDH-OeAW</publisher>
                <pubPlace>Vienna</pubPlace>
                <date>2021</date>
                <availability status="restricted">
                    <p><ref type="license" target="http://creativecommons.org/licenses/by-nc-sa/3.0/"/></p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>This is an original digital text</p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec ident="vicav_corpus" start="TEI">
                <moduleRef key="header" include="textClass catRef availability availability change distributor encodingDesc fileDesc funder idno licence listPrefixDef prefixDef profileDesc publicationStmt rendition revisionDesc sourceDesc tagsDecl teiHeader titleStmt"/>
                <moduleRef key="core" include="address addrLine author bibl cit date editor desc graphic head hi quote name note p publisher pubPlace ref respStmt resp rs series title media"/>
                <moduleRef key="tei"/>
                <moduleRef key="tagdocs" include="code att gi"/>
                <moduleRef key="namesdates" include="person orgName persName forename surname listPerson place placeName"></moduleRef>
                <moduleRef key="textstructure" include="body div TEI text"/>
                <moduleRef key="corpus"/>
                <moduleRef key="analysis" include="w pc phr span spanGrp"/>
                <moduleRef key="linking" include="timeline when anchor"/>
                <moduleRef key="spoken" include="annotationBlock u recordingStmt recording"></moduleRef>
                <elementSpec ident="w" module="analysis" mode="change">
                    <desc>Token ana attributes should entries in the standoff document.</desc>
                    <constraintSpec ident="ana-spec" scheme="schematron">
                        <desc>Enforce that the token links to a document.</desc>
                        <constraint>
                            <s:rule context="tei:w[@ana/contains(.,' ')]">
                                <s:let name="wid" value="@xml:id"/>
                                <s:assert test="not(contains(normalize-space(@ana),' '))">@ana on token with id '<s:value-of select="$wid"/>' seems to contain more than one one id reference.</s:assert>
                            </s:rule>
                            <s:rule context="tei:w[@ana]">
                                <s:let name="wid" value="@xml:id"/>
                                <s:let name="idRef" value="replace(@ana, '#', '')" />
                                <s:let name="standOffFile" value="'../../010_manannot/shawi_standoff.xml'"/>
                                <s:let name="props" value="doc($standOffFile)//tei:fs[@xml:id = $idRef]"/>
                                <s:assert test="exists($props)">Entry with id '<s:value-of select="$idRef"/>' referenced by token with id '<s:value-of select="$idRef"/>' not found in stand-off document.</s:assert>
                            </s:rule>
                        </constraint>
                    </constraintSpec>
                </elementSpec>
            </schemaSpec>
        </body>
    </text>
</TEI>